<section class="mt-5 text-center">

  <div class="my-5">
    <h2 class="mx-auto">Recommended</h2>
    <h4>The most seller product of the month</h4>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="product-card" [style.background]="'url(/src/assets/images/recommended-1.png)'">
        <div class="product-detail">
          <h3>Koroush Table</h3>
          <ul>
            <li>Oak</li>
            <li>Vagi oil</li>
            <li>Metal leg</li>
          </ul>
          <a><i class="bi bi-arrow-right-short"></i></a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="product-card" [style.background]="'url(/src/assets/images/recommended-2.png)'">
        <div class="product-detail">
          <h3>Koroush Table</h3>
          <ul>
            <li>Oak</li>
            <li>Vagi oil</li>
            <li>Metal leg</li>
          </ul>
          <a><i class="bi bi-arrow-right-short"></i></a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="product-card" [style.background]="'url(/src/assets/images/recommended-3.png)'">
        <div class="product-detail">
          <h3>Koroush Table</h3>
          <ul>
            <li>Oak</li>
            <li>Vagi oil</li>
            <li>Metal leg</li>
          </ul>
          <a><i class="bi bi-arrow-right-short"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
