<section>
  <div class="w-100 d-flex align-items-center bg-fix">
    <div class="row container mx-auto">
      <div class="col-4 px-4 text-center">
        <h3> Materials </h3>
        <p>
          Using A-grade materials, turn them to well carved and smooth handicrafts to be heralded as a masterpiece by
          our clients.
        </p>
      </div>
      <div class="col-4 px-4 text-center">
        <h3> Variety </h3>
        <p>
          We are known for having variaty of handicrafts items. wood, resin etc. that are classy and enchanting.
        </p>
      </div>
      <div class="col-4 px-4 text-center">
        <h3> customization </h3>
        <p>
          We give our customers the opportunity to design their products and we make that for
          them.
        </p>
      </div>

    </div>

  </div>

</section>
