.shamsi ngb-datepicker-navigation-select > .custom-select  {
  direction: ltr;
}
.shamsi ngb-datepicker ,
.shamsi .ngb-dp-navigation-select > .custom-select {
  font-family: iransans-web-fa-number;
  font-size: 11px;
}
.shamsi .ngb-dp-arrow .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.shamsi .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
