<section>
  <div class="row">
    <div class="d-flex col-7 pe-4">
      <div class="col-6">
        <img src="src/assets/images/img (1).jpg" class="w-100 p-2">
        <img src="src/assets/images/img (2).jpg" class="w-100 p-2">
      </div>
      <div class="col-6 mt-4">
        <img src="src/assets/images/img (3).jpg" class="w-100 p-2">
        <img src="src/assets/images/img (4).jpg" class="w-100 p-2">
      </div>
    </div>
    <div class="col-5 ps-4 pt-5">
      <div class="title">
        <h1>
          We Make Your Home little more Aesthetic
        </h1>
        <p>
          Enjoy wooden handcraft created with love just to fit your need.
        </p>
      </div>
      <button class="btn">see more ></button>
    </div>

  </div>


</section>
