.miladi ngb-datepicker-navigation-select>.custom-select ,
.miladi ngb-datepicker-navigation,
 .miladi .ngb-dp-month {
  direction: ltr;
}

.miladi ngb-datepicker, .miladi .ngb-dp-navigation-select > .custom-select {
  font-family: iransans-web-en;
  font-size: 14px;
}
