@use "src/assets/help/_variables.scss" as c;

*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}


body {
  font-size: 12px;
  margin: 0;
  padding: 10px;
  line-height: 23px;
  background-color: c.$darkBg;
  font-family: Playfair_Display !important;
  position: relative;
  height: 100%;
  color: #333;
  overflow-x: hidden;
}

* {
  font-family: Playfair_Display !important;
  color: c.$white;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1040px;
  }
}
