@use "src/assets/help/_variables.scss" as c;

html,
body {
  height: 100%;
}

body {
  font-size: 12px;
  margin: 0;
  padding: 10px;
  line-height: 23px;
  background-color: c.$darkBg;
  font-family: IRANSans-web-fa-number !important;
  position: relative;
  height: 100%;
  color: #333;
}
