<section class="my-5 text-center ">
  <div class="container">

    <div class="mt-5">
      <h2 class="mx-auto">subscribe</h2>
      <h4>To see the latest product in your Email.</h4>
    </div>

    <div class="input-wrapper row col-md-8 mx-auto p-2">
      <input type="text" placeholder="Enter your email" class="col-9">
      <button class="btn col-md-3 text-uppercase">subscribe</button>
    </div>

    <div class="row mt-5 pt-4">
      <div class="col-md-4">
        <img src="src/assets/images/logo-sm.svg" alt="logo" width="120">
      </div>
      <div class="col-md-4 row">
        <a class="col-md-4" href=""><i class="bi bi-instagram"></i></a>
        <a class="col-md-4" href=""><i class="bi bi-whatsapp"></i></a>
        <a class="col-md-4" href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="col-md-4 row">
        <label class="col-6 text-end"> Designed By</label>
        <p class="col-6 text-start"> HanieH</p>
      </div>
    </div>
  </div>

</section>
